<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>datatable</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    <link rel="manifest" href="/static/img/site.webmanifest">
    <link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="/static/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script class="init">$(document).ready(function () {
        $('#example').DataTable();
    });</script>
</head>
<body>
<table id="example" class="table table-striped table-hover" style="width:100%">
    <thead>
    <tr>
        {% for key in db[0] %}
            <th scope="col">{{ key }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for player in db %}
            {% for val in player.values() %}
                <td>{{ val }}</td>

            {% endfor %}
            </tr>
        {% endfor %}
</table>
<hr>
</body>
</html>